@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.fondo-gradiente {
  background: linear-gradient(to bottom, #FE3104 0%, #FF5501 90%, #250700 100%);
}

.fondo-gradiente2 {
  background: linear-gradient(to bottom, #FE3104 0%, #FF5501 100%);
}

.fondo-gradiente-alrevez {
  background: linear-gradient(to bottom, #250700 0%, #FF5501 80%, #FE3104 100%);
}
